{{- $git_email := "" -}}
{{- if hasKey .git "email" }}
{{-   $git_email = .git.email -}}
{{- else -}}
{{-   $git_email = promptString "Git email" -}}
{{- end -}}

data:
    git:
        email: {{ $git_email | quote }}
    path:
        - {{ joinPath .chezmoi.homeDir ".cargo/bin" | quote }}
        - {{ joinPath .chezmoi.homeDir "context/tex/texmf-osx-64/bin" | quote }}
        - {{ joinPath .chezmoi.homeDir "go/bin" | quote }}
        - {{ joinPath .chezmoi.homeDir ".pyenv/shims" | quote }}
        - {{ joinPath .chezmoi.homeDir ".local/bin" | quote }}
