*.fish.tmpl linguist-language=fish
*.json.tmpl linguis-language=json
*.xml.tmpl linguist-language=xml
private_dot_config/iterm2/com.googlecode.iterm2.plist.tmpl linguist-generated
private_Library/private_Application[[:space:]]Support/JetBrains/** linguist-generated
