[user]
	name = Riley Flynn
	email = {{ .user.email }}

[core]
	excludesfile = ~/.gitignore
	autocrlf = input

[pull]
	rebase = false

[sequence]
	editor = interactive-rebase-tool

[alias]
	reset-origin = reset --hard @{u}
