set fish_greeting

{{ if eq .chezmoi.os "darwin" -}}
set -x PATH /opt/homebrew/bin $PATH
set -x PATH "$HOME/Library/Application Support/JetBrains/Toolbox/scripts" $PATH 
set -x PATH /usr/local/share/dotnet/x64 $PATH
{{- end }}

set -x PATH (go env GOPATH)/bin $PATH

{{ if eq .chezmoi.os "darwin" -}}
    source /opt/homebrew/opt/asdf/libexec/asdf.fish
{{- else -}}
    source ~/.asdf/asdf.fish
{{- end }}

starship init fish | source
