set fish_greeting

{{ if eq .chezmoi.os "darwin" -}}
set -x PATH /opt/homebrew/bin $PATH
set -x PATH /opt/homebrew/sbin $PATH
set -x PATH "$HOME/Library/Application Support/JetBrains/Toolbox/scripts" $PATH 
set -x PATH /usr/local/share/dotnet $PATH
set -x PATH /Library/TeX/texbin $PATH
set -x PATH "$HOME/.codeium/windsurf/bin" $PATH
{{- end }}

set -x PATH (go env GOPATH)/bin $PATH
set -x PATH ~/.local/bin $PATH

# ASDF configuration
if test -z $ASDF_DATA_DIR
    set _asdf_shims "$HOME/.asdf/shims"
else
    set _asdf_shims "$ASDF_DATA_DIR/shims"
end

if not contains $_asdf_shims $PATH
    set -gx --prepend PATH $_asdf_shims
end
set --erase _asdf_shims

starship init fish | source
zoxide init fish | source
fzf --fish | source
