set fish_greeting

{{ if eq .chezmoi.os "darwin" -}}
    set -x PATH /opt/homebrew/bin $PATH
{{- end }}

set -x PATH (go env GOPATH)/bin $PATH

{{ if eq .chezmoi.os "darwin" -}}
    source /opt/homebrew/opt/asdf/libexec/asdf.fish
{{- else -}}
    source ~/.asdf/asdf.fish
{{- end }}

starship init fish | source
